<div class="container mt-5">
	<div class="row">
		{{#each nortifications}}
			<div class="col-12 col-sm-6 col-md-4 col-lg-3">
				<div class="position-relative shadow-sm rounded border my-3">
					<p class="m-0 h6 p-4 nortification overflow-auto" style="height:100px; line-height:25px;">
						{{this.message}}
					</p>
					{{#if student}}
						<button class="btn btn-sm btn-outline-danger border-0 position-absolute rounded" style="top:0; right:0;" onclick="remove_nortification(this,`{{this._id}}`,`{{this.student}}`)"><i class="fas fa-times"></i></button>
					{{else if volunteer}}
						<button class="btn btn-sm btn-outline-danger border-0 position-absolute rounded" style="top:0; right:0;" onclick="remove_nortification(this,`{{this._id}}`,`{{this.volunteer}}`)"><i class="fas fa-times"></i></button>
					{{else if event_manager}}
						<button class="btn btn-sm btn-outline-danger border-0 position-absolute rounded" style="top:0; right:0;" onclick="remove_nortification(this,`{{this._id}}`,`{{this.event_manager}}`)"><i class="fas fa-times"></i></button>
					{{/if}}
				</div>
			</div>
		{{/each}}
	</div>
</div>
{{#unless nortifications}}
<p class="display-4 text-center mt-5">No Nortifications</p>
{{/unless}}

<input type="hidden" name="_token" value="{{_token}}">

<script>
	function remove_nortification(element, nid, pid){
		const _token = $('[name="_token"]').val();
		swal({
		  	title: "Are you sure?",
		  	icon: "warning",
		  	buttons: true
		})
		.then((res)=>{
			if(res){
				$.ajax({
					//nid is nortification id....
					url : '/nortification/'+nid+"/"+pid,
					method : 'DELETE',
					data : {_token},
					success : function(res){
						if(res){
							element.parentElement.parentElement.outerHTML= ``;
							swal('Nortification Removed Successfully...','','success');
						}
					},
					error : function(xhr, status, error){
						swal(xhr.responseJSON.message,'','warning');
					}
				});
			}
		});
	}

</script>